<style>
    h3{
        text-align: center;
    }
    p{
        text-align: center;
        font-weight: bold;
    }
    a{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    i{
        text-decoration: none;
        height: 20px;
    }
</style>


{% extends 'base.html' %}
{% block content %}
    <h3>About The us</h3>
    <hr>
    <p>We are Finch Collector</p>
    <p>We are world-Wide Finch Collector's and trying our best to have the world biggest collection</p>
    <p>Don't forget To follow us in</p>
    <a href="/"><i class="fa-brands fa-instagram" ></i></a>

 {% endblock %}
    